@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --background: #F5F5EF;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: 'Poppins', sans-serif;
  
  @apply bg-[#F5F5EF] text-black;
  
}
.react-calendar__tile.custom-selected {
  background-color: #E8B14F !important;
  color: white !important;
  border-radius: 9999px;
}

.react-calendar__tile--active {
  background: none !important;
  color: inherit !important;
}
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
.animate-fadeInOut {
  animation: fadeInOut 3.5s ease-in-out forwards;
}

@layer utilities {
  .animate-slideIn {
    animation: slideInRight 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  @keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0.7; }
    to { transform: translateX(0); opacity: 1; }
  }
}

/* push */
@keyframes ping-once {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-ping-once {
  animation: ping-once 0.9s ease-out;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #E8B14F inset !important;
  box-shadow: 0 0 0 1000px #E8B14F inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
  color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
html {
  scroll-behavior: smooth;
}
